//- Bonds

fieldset.repeating_bonds
  .repeating-section.columns
    .repeating-section.column
      input(type="text" name="attr_bondname" placeholder="Bond name")
    .repeating-section.column.is-narrow
      input(type="checkbox" name="attr_bondstressed")