fieldset.repeating_inventory
  input(type="text" name="attr_itemname" placeholder="Item name")
.columns.is-centered.mt-3
  .column.is-narrow
    +box_current_max("Inventory Points (IP)", "ip")
  .column.is-narrow
    +box_value("Libra", "libra")(style="width: 4rem")
.content
  ul
    li Aether Point - 2 IP. You or an ally in range 0 may <i>Power Up!!</i> as a Free Action
    li Elixir - 2 IP. You or an ally in range 0 Heal (RB * 2)
    li Panacea - 2 IP. Gain Advantage on saves for the next 3 rounds
    li Phoenix Ash - 3 IP. Raise (RB) on an ally in range 0