//- Core rule classes
datalist#classes
  option Invoker
  option Throne
  option Witch

//- Core rule callings
datalist#callings
  option Arklight
  option Champion
  option Shadowblade
  option Astromancer
  option Chanter
  option Raconteur
  option Draloi
  option Psythe
  option Rune Magus

//- Core rule roles
datalist#roles
  option Tank
  option Striker
  option Support

//- Megalos skills
datalist#skillnames
  option Attune
  option Bargain
  option Create
  option Drive
  option Finesse
  option Force
  option Hunt
  option Inspect
  option Learn
  option Move
  option Perform
  option Restore
  option Sneak
  option Survive
  option Talk
  option Watch
  option Cautious (Cutscene)
  option Clever (Cutscene)
  option Forceful (Cutscene)
  option Quick (Cutscene)

//- Power types
datalist#powertypes
  option Talent
  option Calling Bonus
  option Invocation
  option Astral Invocation
  option Umbral Invocation
  option Arcana
  option Charged Strike
  option Combo Strike
  option Counter
  option Finisher
  option Sorcery
  option Cantrip
  option Artifact

datalist#movement
  option Normal
  option Flying
  option Slow
  option Teleporting