include features/emoji

.roll20reset
  #constellation-cards-sheet
    .container 
      fieldset.repeating_cards
        //- State of the card in the collection
        label
          input(type="checkbox" name="attr_readonly")
          | Readonly?
        label
          input(type="checkbox" name="attr_flipped")
          | Flipped?
        br

        //- Card properties that can't be edited
        input(type="hidden" name="attr_flipped")
        .constellation-card-front
          strong Front:
          input(type="text" name="attr_name_front" placeholder="Card Name" list="card_names")
          br
          textarea(name="attr_desc_front" style="border: thin solid black")
        .constellation-card-back
          strong Back:
          input(type="text" name="attr_name_back" placeholder="Card Name" list="card_names")
          br
          textarea(name="attr_desc_back" style="border: thin solid black")

//- Pull in datalists for auto completing text fields
include datalists

script(type="text/worker")
  | const CONSTELLATION_CARDS = 
  include constellation-cards.json
  | ;
  include:typescript sheetworkers/sheetworkers.ts

//- Roll templates
include rolltemplates

//- Include some CSS classes that will be injected by Roll20, so that PurgeCSS doesn't cleanse them
.btn.repcontrol_add.repcontrol_edit.repcontrol_move.repcontrol_del